#message {
  padding: 1em;
  background-color: grey;
  border: 1px solid black;
}
canvas#painthere {
    width: 300px;
    height: 300px;
    padding: 0;
    border: 1px solid black;
}
#overboard {
    width: 100%;
    height: 20px;
}
#overboard:hover {
    background-color: red
}